*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/Manifest.toml
/docs/build/
Manifest.toml
/.vscode/*
*.arrow
*.m
*.csv
.DS_Store
*.out
*.sbatch
examples/unitcommitment/app/*
*/app/*
*.edu
*.yaml
# *.png
*.jls
*.jlso
*.jld2
*.txt
*.json
*.log
*.wandb
*latest-run
*.html
*.config.toml
